/********************
-------DESKTOP-------
********************/
html,body{
	margin: 0;
}
body {
position: relative;
}
.page {
	min-height: 100vh;
	padding: 3.5em 2em;
	position: relative;
}
h1{
	margin-top: 0;
}
/***************
--DESKTOP-NAV--
***************/
nav {
	background-color: #d4c44f;
	margin: 0 1.5%;
	padding: 1em .5em;
	border-radius:  0 0 .25em .25em;
	position: fixed;
	width: 97%;
	top: 0;
	box-sizing: border-box;
	z-index: 2;
}
nav a {
	color: black;
	padding-right: 1em;
	text-decoration: none;
}
nav a+a {
	padding-left: 1em;
	border-left:1px solid black;
}

/***************
-DESKTOP-INTRO-
***************/
.intro {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: midnightblue;
}

.intro-text{

	z-index: 1;
	pointer-events: none;
	color: white;
	text-align: center;
}


.particles{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	margin: 0 -2em;
}

/***************
DESKTOP-ABOUT_ME
****************/
.about-me {
	background: linear-gradient(to bottom, white, CornflowerBlue);

	/*background-color: darkslateblue;*/

}
.about-me-container:after{
	content: "";
	display: table;
	clear: both;
}
.about-me-text{
	width: 65%;
	float: left;
}
.portrait{
	width: 25%;
	height: auto;
	float: right;
}

/***************
DESKTOP-PORTFOLIO
***************/
.portfolio{
	color: white;
	background-color: midnightblue;
}
.portfolio img, .portfolio video{
	display: block;
	margin: auto;
	width: 80%;
	height: auto;
}
.portfolio .carousel-caption{
	background: rgba(0,0,0,.3);
	z-index: 1;
}


/***************
DESKTOP-CONTACT-ME
***************/
.contact-me{
	background: linear-gradient(to bottom, white, CornflowerBlue);

	/*background-color: lightsteelblue;*/
	min-height: 100vh;

}


/***************
--DESKTOP-FOOTER--
***************/
footer{
	min-height: 10vh;
	background-color: black;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.fa-github {
	color: #ffffff;
}
.fa-linkedin {
	color: #0077b5;
}


/********************
-------MOBILE-------
********************/
@media screen and (max-width:768px) {
	body {

	}
	.page{
		padding: 3.5em 1em;
	}

	/***************
	---MOBILE-NAV---
	***************/
	nav{
		display: flex;
	}
	nav a {
		flex-grow: 1;
		text-align: center;
		padding-right: .5em;
	}
	nav a+a {
		padding-left: .5em;
	}

	/***************
	--MOBILE-INTRO--
	***************/
	.intro {

	}
	.particles{
		margin: 0 -1em;
	}

	/***************
	-MOBILE-ABOUT_ME-
	****************/
	.about-me {

	}
	.about-me-text{
		float: none;
		width: 100%;
		padding: 0 1em;
		box-sizing: border-box;
	}
	.portrait{
		width: 60%;
		height: auto;
		float: none;
		display: block;
		margin: auto;
	}

	/***************
	-MOBILE-PORTFOLIO-
	***************/
	.portfolio{

	}

	.portfolio img, .portfolio video{
		width: 100%;
		height: auto;
	}

	.portfolio .carousel-caption{
		position: static;
	}

	/***************
	MOBILE-CONTACT-ME
	***************/
	.contact-me{

	}

	/***************
	--MOBILE-FOOTER--
	***************/
	footer{

	}

}